<section>
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                <div class="card card-plain mt-0">
                    <div class="mx-auto mt-4 pb-0 text-left">
                        <h3 class="font-weight-bolder text-danger text-gradient">Forget Password</h3>
                        <p class="mb-0">Set your new password</p>
                        <small id="notification" class="text-primary" hidden><i class="fa fa-warning me-2"></i>time has expired, please click on resend button</small>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}

                            {% for field in form %}
                            <label class="text-capitalize">{{field.label}}</label>
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text cursor-pointer text-secondary" id="toggle-password{{forloop.counter}}"><i class="fas fa-eye-slash"></i></span>
                                    {{field}}
                                </div>

                                {% comment %} {% if field.help_text %}
                                <small>{{field.help_text}}</small>
                                {% endif %} {% endcomment %}

                                {% for error in field.errors %}
                                <small class="text-primary text-xs fw-bold ms-2"><i class="fa fa-exclamation me-2"></i>{{ error }}<br></small>
                                {% endfor %}

                            </div>
                            {% endfor %}

                            <div class="text-center">
                                <button type="submit" class="btn bg-gradient-danger w-100 mt-4 mb-0">Confirm</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
